[user]
	name = Craig Vyvial
	email = cp16net@gmail.com
	username = cp16net
[core]
	editor = emacs -q -nw
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore
[alias]
	st = status
	br = branch -vv
	co = checkout
	todo = commit --allow-empty
	delete-merged-branches = "!git co master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
[color]
	ui = auto
[push]
	default = simple
[rebase]
	abbreviateCommands = true
[include]
	path = .local.gitconfig