[user]
	name = Craig Vyvial
	email = cp16net@gmail.com
[core]
	editor = emacs -q -nw
[alias]
	st = status
	br = branch
	co = checkout
	todo = commit --allow-empty
	clean-show = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$"; }; f"
	clean-delete = "!f() { git sclean ${1-master} | xargs -n 1 git branch -d; }; f"
	delete-merged-branches = "!git co master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
[color]
	ui = auto
